---
import MainLayout from "@/layouts/MainLayout.astro";
import Icon from "@/components/ui/icons/Icon.astro";
import { SITE } from "@data/constants";
import { Image } from "astro:assets";

const title: string = "TCE IMPORTS BLOG";
const subTitle: string =
  "Explora nuestro blog para obtener información y consejos útiles sobre importaciones y envíos internacionales. Desde guías paso a paso hasta las últimas tendencias en comercio global, nuestro blog es tu recurso confiable para mantenerse al día en el mundo de las importaciones y envíos.";

const pageTitle: string = `Blog | ${SITE.title}`;

const response = await fetch(
  "https://strapi-tceimports.onrender.com/api/blogs?fields[0]=title&fields[1]=description&populate[img][fields][0]=url"
);
const result = await response.json();
const url = 'https://strapi-tceimports.onrender.com'
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://www.tceimports.com/services",
    url: "https://www.tceimports.com/services",
    name: "Servicios | TCE IMPORTS",
    description:
      "Descubre cómo en TCE Imports convertimos tus deseos en realidad, importando los mejores productos desde Estados Unidos a Colombia.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://www.tceimports.com/",
      name: "TCE IMPORTS",
      description:
        "Descubre cómo en TCE Imports convertimos tus deseos en realidad, importando los mejores productos desde Estados Unidos a Colombia.",
    },
    inLanguage: "es-ES",
  }}
>
  <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    <!--Page header-->
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        {title}
      </h1>

      <p
        class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
      >
        {subTitle}
      </p>
    </div>
  </section>
  <!--Blog posts section-->
  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {
        result.data.map((blog:any) => (
          <a
            class="group rounded-xl outline-none ring-zinc-500 transition duration-300 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none"
            href={`/blog/${blog.id}/`}
          >
            <div class="relative overflow-hidden rounded-xl pt-[50%] sm:pt-[70%]">
              <Image
                width={100}
                height={100}
                class="absolute start-0 top-0 size-full rounded-xl object-cover transition duration-500 ease-in-out group-hover:scale-105"
                src={blog.attributes.img.data.attributes.url}
                alt={blog.attributes.title}
                draggable={"false"}
                format={"avif"}
              />
            </div>
            <div class="mt-7">
              <h3 class="text-xl font-bold text-neutral-800 group-hover:text-neutral-600 dark:text-neutral-200 dark:group-hover:text-neutral-400">
                {blog.attributes.title}
              </h3>
              <p class="text-orange-400 dark:text-white mt-5 inline-flex items-center gap-x-1 font-medium decoration-2 group-hover:underline">
                Leer Más
                <Icon name="arrowRightStatic" />
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</MainLayout>
